<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>514</TotalTime><Pages>6</Pages><Words>398</Words><Characters>2275</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>18</Lines><Paragraphs>5</Paragraphs><ScaleCrop>false</ScaleCrop><Company>JUJUMAO</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>2668</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>